<%- include('header.ejs') %>



<div style="width: 400px; height: 400px; background-color: grey;">

    <h1>Successfully setup</h1>

    <button> <a href="/dashboard"> View Dashboard </a></button>

</div>




<%- include('footer.ejs') %>